@import '../Navigation/Navigation.scss';
@import '../Landing/Landing.scss';
@import '../People/People.scss';
@import '../Planets/Planets.scss';
@import '../Vehicles/Vehicles.scss';
@import '../Favorites/Favorites.scss';
@import '../Card/Card.scss';

@font-face {
  font-family: starWarsOutlined;
  src: url(../../Starjhol.ttf);
}

header {
  background-color: black;
  z-index: 1;
}

.App-title {
  display: inline-block;
  color: white;
  font-family: starWarsOutlined;
  font-size: 4rem;
  margin: 0 20px;
  line-height: 5rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 75px auto;
}

