.Navigation {
  display: inline-block;
  float: right;
  margin: 30px 15px;

  button {
    background: black;
    border: none;
    color: white;
    font-size: 1.6rem;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

  }
    button.selected {
      color: #feda4a;
    }

  .showSelectMessage {
    display: block;
    font-size: 2rem;
    text-align: right;
    margin-right: 1rem;
    margin-top: .5rem;
  }

  .hide {
    display: none;
  }
}
